Binaries/
Out
Plots/Solo/*.p~
Plots/Multi/*.p~
Plots/Multi/location.p
Scripts/*.sh~
Scripts/Plots/*.sh~
Sources/data.f90
Sources/*.f90~
Sources/makefile~
Sources/*.mod
Sources/*.o
Temp/
menu.sh~
notes.txt~
fit.log
.gitignore~
.gitignore.swp
